body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	margin: 0px;
	height: 100vh;
	background-color: lightslategrey;
}

h1 {
	font-size: 50px;
}

#info {
	font-size: 20px;
	background-color: #A0C200;
	border-radius: 20px;
	padding: 10px 20px 10px 10px;
}

#click {
	border: 2px solid black;
	padding: 8px 15px;
	background-color: white;
}

#location {
	padding: 5px 80px;
	font-size: 20px;
}